src/main/app/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="customer-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customer-api-config" raml="customer-api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="customer-api-main">
        <http:listener config-ref="customer-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customer-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customer-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customer-api-console">
        <http:listener config-ref="customer-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customer-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customers:customer-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/customers/{customerId}:customer-api-config">
        <set-payload value="{&#xA;  message: &quot;customer successfully updated&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers:customer-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers/{customerId}:customer-api-config">
        <set-property propertyName="Content-Type" value="appapplication/json" doc:name="Property"/>
        <set-payload value="{&#xA;  message: &quot;customer deleted successfully&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers:customer-api-config">
        <set-payload value="[ &#xA;  { &#xA;    &quot;customerId&quot;: 2120,&#xA;    &quot;firstName&quot;: &quot;Reza&quot;,&#xA;    &quot;lastName&quot;: &quot;Arifi&quot;,&#xA;    &quot;address&quot;: &quot;2 Abadan Parade, Sydney NSW 2170&quot;     &#xA;  },&#xA;  { &#xA;    &quot;customerId&quot;: 2121,&#xA;    &quot;firstName&quot;: &quot;Zohreh&quot;,&#xA;    &quot;lastName&quot;: &quot;Rahimi&quot;,&#xA;    &quot;address&quot;: &quot;2 Abadan Parade, Sydney NSW 2100&quot;&#xA;  },&#xA;  {&#xA;    &quot;customerId&quot;: 22,&#xA;    &quot;firstName&quot;: &quot;Jack&quot;,&#xA;    &quot;lastName&quot;: &quot;Johnson&quot;,&#xA;    &quot;address&quot;: &quot;456 Kent Street, Sydney NSW 2000&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}:customer-api-config">
        <set-payload value="{ &#xA;  &quot;customerId&quot;: 2120,&#xA;  &quot;firstName&quot;: &quot;Reza&quot;,&#xA;  &quot;lastName&quot;: &quot;Arifi&quot;,&#xA;  &quot;address&quot;: &quot;2 Abadan Parade, Sydney NSW 2170&quot;     &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customers:customer-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{ &#xA;  &quot;customerId&quot;: 2120,&#xA;  &quot;firstName&quot;: &quot;Reza&quot;,&#xA;  &quot;lastName&quot;: &quot;Arifi&quot;,&#xA;  &quot;address&quot;: &quot;2 Abadan Parade, Sydney NSW 2170&quot;     &#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="customer-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
